@{
    ViewBag.Title = "Tipo Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipo Documento</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>DNI</td>
            <td>
                <a href="#" class="btn btn-info">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Pasaporte</td>
            <td>
                <a href="#" class="btn btn-info">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Carnet de Extranjería</td>
            <td>
                <a href="#" class="btn btn-info">Editar</a>
                <a href="#" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

@*<a href="#" class="btn btn-success">Agregar Nuevo Tipo de Documento</a>*@
